@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #E5E5E5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: #050505;
  color: #E5E5E5;
  font-family: var(--font-inter), sans-serif;
  overflow-y: scroll;
}

/* Hide scrollbar but keep functionality */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  border-radius: 0 !important;
}
